.task1 {
  transition-property: all;
}

.task1:hover {
  transform: rotate(270deg);
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}

.task2 {
  transition-property: all;
}

.task2:hover {
  transform: rotateX(135deg);
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.task3 {
  transition-property: all;
}

.task3:hover {
  transform: rotateY(45deg);
  animation-duration: 1s;
  animation-timing-function: ease;
}

.task4 {
  transition-property: all;
}

.task4:hover {
  transform: scale(1.3);
  animation-duration: 1s;
  animation-timing-function: linear;
}

.task5 {
  transition-property: all;
}

.task5:hover {
  transform: scaleX(1.5);
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.task6 {
  transition-property: all;
}

.task6:hover {
  transform: scaleY(0.2);
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.task7 {
  transition-property: all;
}

.task7:hover {
  transform: skew(30deg);
  animation-duration: 1s;
  animation-timing-function: ease;
}

.task8 {
  transition-property: all;
}

.task8:hover {
  transform: skewX(25deg);
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.task9 {
  transition-property: all;
}

.task9:hover {
  transform: skewY(20deg);
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.task10 {
  transition-property: all;
}

.task10:hover {
  transform: translate(40px, 60px);
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.task11 {
  transition-property: all;
}

.task11:hover {
  transform: translateX(50px);
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.task12 {
  transition-property: all;
}

.task12:hover {
  transform: translateY(30px);
  animation-duration: 1s;
  animation-timing-function: linear;
}

.task13 {
  transition-property: all;
}

.task13:hover {
  transform: translate3d(20px, 20px, 20px)
    rotate3d(2, 2, 2, 90deg);
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.task14 {
  transition-property: all;
}

.task14:hover {
  transform: rotate3d(2, 3, 3, 45deg) translateZ(40px);
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.task15 {
  transition-property: all;
}

.task15:hover {
  transform: matrix(0.4, 1.1, 1.1, 1);
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.task16 {
  transition-property: matrix3d(1);
}

.task16:hover {
  transform: matrix3d(
    0.5,
    0,
    -0.866025,
    0,
    0.595877,
    1.2,
    -1.03209,
    0,
    0.866025,
    0,
    0.5,
    0,
    25.9808,
    0,
    15,
    1
  );
  animation-timing-function: linear;
}
